ISS NOV 29 2017
[{"id":"9edf737d.e24d7","type":"comment","z":"ce1822f0.f9d5","name":"Infos","info":"mvk@ca.ibm.com - November 2017 \nSee https://github.com/SixNationsPolytechnic/iotcandle","x":210,"y":1080,"wires":[]},{"id":"e250d2ef.2c994","type":"ui_text","z":"ce1822f0.f9d5","group":"56893e9.77ce8c","order":4,"width":0,"height":0,"name":"","label":"Distance in Km( 10Sec)","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":160,"wires":[]},{"id":"b7602fbc.891","type":"ui_text","z":"ce1822f0.f9d5","group":"56893e9.77ce8c","order":4,"width":0,"height":0,"name":"","label":"Speed in Km/H","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":120,"wires":[]},{"id":"985aec39.bdcea","type":"template","z":"ce1822f0.f9d5","name":"Space Station Tracker","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Realtime ISS</title>\n        <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\" />\n        <style type=\"text/css\">\n            html { height: 100% }\n            body { height: 100%; margin: 0; padding: 0 }\n            #map { height: 100% }\n        </style>\n        <script type=\"text/javascript\" src=\"//maps.googleapis.com/maps/api/js?key=AIzaSyAFLoXS1lPMv75OISOZ0GujwAhH1LPlJP4&sensor=false\"></script>\n        <script src=\"//googlemaps.github.io/js-map-label/src/maplabel-compiled.js\"></script>\n        <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n        <script type=\"text/javascript\">\n            var map, marker, last_latlng;\n\n            function init() {\n                var latlng = new google.maps.LatLng(43.7081784,-79.4609571);//51.48931, -0.08819);\n                var mapOptions = { center: latlng, zoom: 2, mapTypeId: google.maps.MapTypeId.TERRAIN, //zoomControl: true, scaleControl: true}\n          \n           mapTypeControl: true,\n          mapTypeControlOptions: {\n              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,\n              position: google.maps.ControlPosition.TOP_CENTER\n          },\n          zoomControl: true,\n          zoomControlOptions: {\n              position: google.maps.ControlPosition.LEFT_CENTER\n          },\n          scaleControl: true,\n          streetViewControl: true,\n          streetViewControlOptions: {\n              position: google.maps.ControlPosition.LEFT_TOP\n          },\n          fullscreenControl: true\n                }\n\n\n                map = new google.maps.Map(document.getElementById(\"map\"), mapOptions);\n                infoWindow = new google.maps.InfoWindow();\n                maxZoomService = new google.maps.MaxZoomService();\n              //  map.addListener('click', showMaxZoom);\n\n\n                marker = new google.maps.Marker({ position: latlng, map: map, title: \"Lat:\"+latlng, icon: 'https://raw.githubusercontent.com/picklepete/iss/master/saticon.gif' });\n    //aquator\n    \n    \n       var rectangle = new google.maps.Rectangle({\n       strokeColor: '#0000FF',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(0, 90),\n       new google.maps.LatLng(0, 0))\n     });\n     \n    b1tlx= 85.03568516\n    b1tly= -150.734375\n    b1brx= -60.2679967\n    b1bry= -120.90625\n    var rectangle = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b1tlx, b1tly),\n       new google.maps.LatLng(b1brx, b1bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 1',\n          position: new google.maps.LatLng(b1brx, b1bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n     //   mapLabel.set('position', new google.maps.LatLng(34.03, -118.235));\n        \n    b2tlx= 85.03568516\n    b2tly= -100.734375\n    b2brx= -60.2679967\n    b2bry= -70.90625\n   \n  var rectangle1 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b2tlx, b2tly),\n       new google.maps.LatLng(b2brx, b2bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 2',\n          position: new google.maps.LatLng(b2brx, b2bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n   \n  var rectangle2 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, -50.734375),\n       new google.maps.LatLng(-60.2679967,-10.90625))\n     });\n   \n       var mapLabel = new MapLabel({\n          text: 'BOX 3',\n          position: new google.maps.LatLng(-60.2679967,-10.90625),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n     var rectangle3 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, 10),\n       new google.maps.LatLng(-60.2679967, 40))\n     });\n     \n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 4',\n          position: new google.maps.LatLng(-60.2679967, 40),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n          var rectangle4 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85, 90),\n       new google.maps.LatLng(-60, 130))\n     }); \n     \n       \n       var mapLabel = new MapLabel({\n          text: 'BOX 5',\n          position: new google.maps.LatLng(-60, 130),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n         \n            }\n            google.maps.event.addDomListener(window, 'load', init);\n\n\n\n           function showMaxZoom(e) {\n             maxZoomService.getMaxZoomAtLatLng(e.latLng, function(response) {\n               if (response.status !== google.maps.MaxZoomStatus.OK) {\n                 infoWindow.setContent('Error in MaxZoomService');\n               } else {\n                 infoWindow.setContent(\n                     'The maximum zoom at this location is: ' + response.zoom);\n               }\n               infoWindow.setPosition(e.latLng);\n               infoWindow.open(map);\n             });\n           }\n            function draw_flight_path(latlng) {\n                if(last_latlng == undefined) {\n                    last_latlng = latlng;\n                }\n                flight_path = new google.maps.Polyline({\n                    path: [last_latlng, latlng],\n                    strokeColor: \"#FFFF00\",\n                    strokeOpacity: 1.0,\n                    strokeWeight: 2\n                });\n                last_latlng = latlng;\n                flight_path.setMap(map);\n            };\n\n            function get_latest_position() {\n                $.getJSON('http://open-notify-api.herokuapp.com/iss-now.json?callback=?', function(data, status) {\n                    position = data.iss_position;\n var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n// $.getJSON('https://api.wheretheiss.at/v1/satellites/25544/', function(data, status) {\n\n                    var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n                    map.setCenter(latlng);\n                    marker.setPosition(latlng);\n                    marker.setTitle(\"Position: \"+latlng);\n                    var mycon = \"ISSI<br>Lat:\"+position.latitude+\"<br>Long\"+ position.longitude\n                    var myinfowindow = new google.maps.InfoWindow({\n                        content: mycon\n                    });\n marker.addListener('click', function() {\n    myinfowindow.open(map, marker);\n  });\n\n                    draw_flight_path(latlng);\n                    \n                });\n            };\n            setInterval(get_latest_position, 5000);\n        </script>\n    </head>\n    <body>\n        <div id=\"map\"/>\n    </body>\n</html>\n","output":"str","x":360,"y":300,"wires":[["6195b48.a8f144c"]]},{"id":"ced5ab73.2b9d68","type":"http in","z":"ce1822f0.f9d5","name":"","url":"/iss","method":"get","upload":false,"swaggerDoc":"","x":143.5,"y":299.25,"wires":[["985aec39.bdcea"]]},{"id":"6195b48.a8f144c","type":"http response","z":"ce1822f0.f9d5","name":"","statusCode":"","headers":{},"x":570,"y":300,"wires":[]},{"id":"372c4a09.fa4a96","type":"http request","z":"ce1822f0.f9d5","name":"","method":"GET","ret":"obj","url":"http://open-notify-api.herokuapp.com/iss-now.json","tls":"","x":330,"y":380,"wires":[["c21d0ede.0ee82","e8f4b495.00d6e8","e71fdfeb.104d9","39d050b9.021bd"]]},{"id":"c21d0ede.0ee82","type":"debug","z":"ce1822f0.f9d5","name":"IssiPos","active":false,"console":"false","complete":"payload","x":320,"y":340,"wires":[]},{"id":"994391df.b73cb","type":"inject","z":"ce1822f0.f9d5","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":150,"y":380,"wires":[["372c4a09.fa4a96"]]},{"id":"31b65331.2119ec","type":"ui_template","z":"ce1822f0.f9d5","group":"423cf22a.5a473c","name":"map","order":0,"width":"15","height":"11","format":"<div >\n<iframe src=\"/iss\" height=600 width=800>\n  <p>Your browser does not support iframes.</p>\n</iframe>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":570,"y":260,"wires":[[]]},{"id":"e8f4b495.00d6e8","type":"function","z":"ce1822f0.f9d5","name":"DisplayLat","func":"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["deb16147.03841","bd217665.d58978"]]},{"id":"deb16147.03841","type":"ui_text","z":"ce1822f0.f9d5","group":"6f90525d.4253ac","order":1,"width":0,"height":0,"name":"","label":"latitude","format":"{{msg.payload.iss_position.latitude}}","layout":"row-spread","x":760,"y":380,"wires":[]},{"id":"bd217665.d58978","type":"ui_text","z":"ce1822f0.f9d5","group":"6f90525d.4253ac","order":2,"width":0,"height":0,"name":"","label":"longitude","format":"{{msg.payload.iss_position.longitude}}","layout":"row-spread","x":760,"y":420,"wires":[]},{"id":"70990ed9.8d3d1","type":"ui_gauge","z":"ce1822f0.f9d5","name":"","group":"dbcfaabb.947dd8","order":0,"width":"5","height":"3","gtype":"gage","title":"Blue","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#6f7dc9","#530dbb"],"seg1":"","seg2":"","x":1290,"y":960,"wires":[]},{"id":"e4e4dc51.7dcea","type":"ui_gauge","z":"ce1822f0.f9d5","name":"","group":"dbcfaabb.947dd8","order":0,"width":"5","height":"3","gtype":"gage","title":"Green","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#73bc78","#21ac1b"],"seg1":"","seg2":"","x":1290,"y":920,"wires":[]},{"id":"7e1d75d1.fc980c","type":"ibmiot in","z":"ce1822f0.f9d5","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":false,"allCommands":false,"allFormats":true,"qos":"0","x":770,"y":920,"wires":[["de3c1ba7.535688","e0827438.6f78c8","ded091b4.b26f","1760f345.6597ed","5e4851a5.98158","a552bdfa.ad3bc"]]},{"id":"39d050b9.021bd","type":"function","z":"ce1822f0.f9d5","name":"CheckArea","func":"//Lat = Y Long = X\n/*\nbb is the bounding box, (ix,iy) are its top-left coordinates, and (ax,ay) its bottom-right coordinates. p is the point and (x,y) its coordinates.\n*/\nfunction checkPos(lat,lon,topleftlat,topleftlon,bottomrightlat,bottomrightlon,box)\n{\n    msg.inbox = box;\n  \n  //  node.warn(\"X topleftlon \"+topleftlon+\"  <= lon \"+lon+ \" res = \"+(   topleftlon <= lon   ))\n  //  node.warn(\"X lon \"+lon+\"  <= bottomrightlon \"+bottomrightlon+ \" res = \"+(  lon <= bottomrightlon)  )\n\nif( topleftlon <= lon && lon <= bottomrightlon ) {\n    // Point is in bounding box\n\n \n //node.warn(\" ISS in the area (\"+box+\").. candle ON\")  \nreturn true;\n\n}else{\n// node.warn(\"ISS not in the area  (\"+box+\")... candle OFF\")  \n return  false;\n\n\n}\nreturn  false;\n}\n\n \nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n\n  r0LatTl= 85\n  r0LngTl=-150\n\n  r0LatBr= -60\n  r0LngBr= -120\n\n  r1LatTl=  85\n  r1LngTl=-100.\n\n  r1LatBr= -60\n  r1LngBr= -70\n\n\n  r2LatTl=  85\n  r2LngTl= -50\n\n  r2LatBr= -60\n  r2LngBr= -10\n\n  r3LatTl=  85\n  r3LngTl= 10\n\n  r3LatBr= 85\n  r3LngBr= 40\n  \n  r4LatTl= 85\n  r4LngTl= 90\n\n  r4LatBr= -60\n  r4LngBr= 130\n\n/*\n\nlatitude\n\n-50.50472391191916\n\nlongitude\n\n-126.35910070188285\n\n\n\nlatitude = -50.5047239119191\n\nlongitude= -126.35910070188285\n\nmsg.inarea = false;\n node.warn(\"check\")\nres =checkPos(latitude ,longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box 1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n  */  \n\nmsg.inarea = false;\nres =checkPos(msg.latitude ,msg.longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n\n\nres =checkPos(msg.latitude ,msg.longitude,r1LatTl,r1LngTl,r1LatBr,r1LngBr,\"box 2\");\nmsg.inarea = res;\nif(res)\n    return msg;\n    \n \nres =checkPos(msg.latitude ,msg.longitude,r2LatTl,r2LngTl,r2LatBr,r2LngBr,\"box 3\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\nres =checkPos(msg.latitude ,msg.longitude,r3LatTl,r3LngTl,r3LatBr,r3LngBr,\"box 4\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\n\nres =checkPos(msg.latitude ,msg.longitude,r4LatTl,r4LngTl,r4LatBr,r4LngBr,\"box 5\");\nmsg.inarea = res;\nif(res)\n    return msg; \n    \nmsg.inbox = \"No\";    \nreturn msg;","outputs":1,"noerr":0,"x":230,"y":560,"wires":[["666258c4.646fc8","415d28cf.20b7b8","f0996ef3.61abc"]]},{"id":"128a166d.78a9da","type":"e-mail","z":"ce1822f0.f9d5","server":"smtp.gmail.com","port":"465","secure":true,"name":"yourmail@gmail.com , mvk4ibm@gmail.com","dname":"","x":1270,"y":560,"wires":[]},{"id":"1db2df8a.b8e67","type":"function","z":"ce1822f0.f9d5","name":"IfIss is in Area send email","func":"\n    msg.topic = \"ISS update for YOU\"\n    msg.payload= \"Hello from Node-RED ISS is in Area with the SPEED of x Km/H and traveled  \"+global.get(\"distance\")+ \" km\";\n    return msg;","outputs":1,"noerr":0,"x":930,"y":560,"wires":[["128a166d.78a9da","9dcf010.c1fa1"]]},{"id":"10b78a0f.1e1816","type":"inject","z":"ce1822f0.f9d5","name":"Send Email","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":930,"y":620,"wires":[["1db2df8a.b8e67"]]},{"id":"9dcf010.c1fa1","type":"debug","z":"ce1822f0.f9d5","name":"email","active":false,"console":"false","complete":"true","x":1150,"y":620,"wires":[]},{"id":"e57acab6.e03848","type":"function","z":"ce1822f0.f9d5","name":"setCandleMode=Flashing","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":1080,"wires":[[]]},{"id":"8a7eab99.e1c798","type":"delay","z":"ce1822f0.f9d5","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":160,"y":720,"wires":[["9e7cc967.52c618"]]},{"id":"b8bc01e8.ff657","type":"ibmiot out","z":"ce1822f0.f9d5","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":690,"y":720,"wires":[]},{"id":"23ab5d74.6ef522","type":"comment","z":"ce1822f0.f9d5","name":"Check the Code below","info":"","x":240,"y":520,"wires":[]},{"id":"6e58271.6829ed8","type":"comment","z":"ce1822f0.f9d5","name":"IssWebPage","info":"","x":327.2222222222222,"y":257.5,"wires":[]},{"id":"eb4bb805.588b88","type":"comment","z":"ce1822f0.f9d5","name":"#2 Use Your GMAIL account","info":"","x":1220,"y":520,"wires":[]},{"id":"c06862be.00941","type":"inject","z":"ce1822f0.f9d5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":760,"wires":[["9e7cc967.52c618"]]},{"id":"68640fea.d8d27","type":"comment","z":"ce1822f0.f9d5","name":"#1 Adjust the candle number","info":"","x":960,"y":660,"wires":[]},{"id":"9eba326f.b2ab3","type":"comment","z":"ce1822f0.f9d5","name":"#1 Adjust the candle number","info":"","x":780,"y":880,"wires":[]},{"id":"de3c1ba7.535688","type":"debug","z":"ce1822f0.f9d5","name":"InComing","active":false,"console":"false","complete":"payload","x":760,"y":980,"wires":[]},{"id":"e0827438.6f78c8","type":"function","z":"ce1822f0.f9d5","name":"Red","func":"var newmsg ={}\nnewmsg.payload = msg.payload.candleRR\nnewmsg.topic =\"Red\";\nreturn newmsg;","outputs":1,"noerr":0,"x":1090,"y":880,"wires":[["7c62627f.cc804c"]]},{"id":"ded091b4.b26f","type":"function","z":"ce1822f0.f9d5","name":"Green","func":"msg.payload = msg.payload.candleGG\nmsg.topic =\"Green\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":920,"wires":[["e4e4dc51.7dcea"]]},{"id":"1760f345.6597ed","type":"function","z":"ce1822f0.f9d5","name":"Blue","func":"msg.payload = msg.payload.candleBB\nmsg.topic =\"Blue\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":960,"wires":[["70990ed9.8d3d1"]]},{"id":"7c62627f.cc804c","type":"ui_gauge","z":"ce1822f0.f9d5","name":"","group":"dbcfaabb.947dd8","order":0,"width":"5","height":"3","gtype":"gage","title":"Red","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#bcb489","#ac0c19"],"seg1":"","seg2":"","x":1290,"y":880,"wires":[]},{"id":"dfa9430b.f2f","type":"function","z":"ce1822f0.f9d5","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":640,"wires":[["b8bc01e8.ff657","4c04d289.3c059c"]]},{"id":"76c94ddf.efcf14","type":"function","z":"ce1822f0.f9d5","name":"setCandle=Red","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":700,"wires":[["b8bc01e8.ff657"]]},{"id":"841db1c9.ad44e","type":"function","z":"ce1822f0.f9d5","name":"setCandle=Blue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":840,"wires":[["b8bc01e8.ff657"]]},{"id":"2cc455c4.f447ca","type":"inject","z":"ce1822f0.f9d5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":800,"wires":[["841db1c9.ad44e"]]},{"id":"9e7cc967.52c618","type":"function","z":"ce1822f0.f9d5","name":"setCandle=Green","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":740,"wires":[["b8bc01e8.ff657"]]},{"id":"1f4b0ea7.426511","type":"comment","z":"ce1822f0.f9d5","name":"#3 Check email text","info":"","x":910,"y":520,"wires":[]},{"id":"666258c4.646fc8","type":"switch","z":"ce1822f0.f9d5","name":"In Area ?","property":"inarea","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":420,"y":560,"wires":[["8a7eab99.e1c798","1e1c171.5644fe9","76c94ddf.efcf14","8a165e43.6e345"],["dfa9430b.f2f"]]},{"id":"1e1c171.5644fe9","type":"delay","z":"ce1822f0.f9d5","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":660,"y":560,"wires":[["1db2df8a.b8e67"]]},{"id":"4c04d289.3c059c","type":"debug","z":"ce1822f0.f9d5","name":"Not in area","active":true,"console":"false","complete":"true","x":690,"y":640,"wires":[]},{"id":"415d28cf.20b7b8","type":"debug","z":"ce1822f0.f9d5","name":"Check","active":false,"console":"false","complete":"payload","x":210,"y":620,"wires":[]},{"id":"b1cf8f7e.94433","type":"ui_text","z":"ce1822f0.f9d5","group":"6f90525d.4253ac","order":4,"width":0,"height":0,"name":"","label":"In Area?","format":"{{msg.inbox}}","layout":"row-spread","x":760,"y":480,"wires":[]},{"id":"f0996ef3.61abc","type":"function","z":"ce1822f0.f9d5","name":"InBox","func":"msg.inbox = msg.inbox.toUpperCase();\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":480,"wires":[["b1cf8f7e.94433"]]},{"id":"4a27d220.ca0aec","type":"function","z":"ce1822f0.f9d5","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":960,"wires":[["b8bc01e8.ff657"]]},{"id":"b1ace0ba.80899","type":"ui_button","z":"ce1822f0.f9d5","name":"","group":"6f90525d.4253ac","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Off","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":176.875,"y":1000.625,"wires":[["4a27d220.ca0aec"]]},{"id":"8a165e43.6e345","type":"debug","z":"ce1822f0.f9d5","name":"In Area","active":true,"console":"false","complete":"true","x":560,"y":520,"wires":[]},{"id":"93e1f47f.9191e8","type":"comment","z":"ce1822f0.f9d5","name":"Infos","info":"mvk@ca.ibm.com - November 2017 \nSee https://github.com/SixNationsPolytechnic/iotcandle","x":130,"y":1220,"wires":[]},{"id":"5e4851a5.98158","type":"function","z":"ce1822f0.f9d5","name":"Counter","func":"var newmsg ={}\nnewmsg.payload = msg.payload.value\nreturn newmsg;","outputs":1,"noerr":0,"x":1100,"y":820,"wires":[["41629114.80ea8"]]},{"id":"41629114.80ea8","type":"ui_text","z":"ce1822f0.f9d5","group":"dbcfaabb.947dd8","order":5,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":820,"wires":[]},{"id":"e71fdfeb.104d9","type":"function","z":"ce1822f0.f9d5","name":"Sale LatLong","func":"\nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n//msg.payload = []//\n//msg.payload =msg.latitude;\n//msg.topic=\"Lat\";\nnode.send(msg)\nmsg.topic=\"Lon\";\nmsg.payload =msg.longitude;\n//msg.payload[1] =msg.longitude;\n//\"\"+msg.latitude+\",\"+msg.longitude;\nglobal.set(\"oldlatitude\",global.get(\"latitude\"));\nglobal.set(\"oldlongitude\",global.get(\"longitude\"));\n\nglobal.set(\"latitude\",msg.latitude)\nglobal.set(\"longitude\",msg.longitude)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":360,"wires":[["24d4ce32.95b6f2","7d9a6b1.3f5aa94"]]},{"id":"a552bdfa.ad3bc","type":"function","z":"ce1822f0.f9d5","name":"Time","func":"function unixTime(unixtime) {\n\n    var u = new Date(unixtime);\n\n      return u.getUTCFullYear() +\n        '-' + ('0' + u.getUTCMonth()).slice(-2) +\n        '-' + ('0' + u.getUTCDate()).slice(-2) + \n        ' ' + ('0' + u.getUTCHours()).slice(-2) +\n        ':' + ('0' + u.getUTCMinutes()).slice(-2) +\n        ':' + ('0' + u.getUTCSeconds()).slice(-2) +\n        '.' + (u.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) \n    };\n    var newmsg ={}\nnewmsg.payload = unixTime(parseInt(msg.payload.ts))\nreturn newmsg;","outputs":1,"noerr":0,"x":1090,"y":780,"wires":[["baa0ba04.dd1038"]]},{"id":"baa0ba04.dd1038","type":"ui_text","z":"ce1822f0.f9d5","group":"dbcfaabb.947dd8","order":5,"width":0,"height":0,"name":"","label":"Msg Time","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":780,"wires":[]},{"id":"f9b64638.251378","type":"ui_button","z":"ce1822f0.f9d5","name":"","group":"6f90525d.4253ac","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Blue","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":170,"y":900,"wires":[[]]},{"id":"24d4ce32.95b6f2","type":"function","z":"ce1822f0.f9d5","name":"Distance","func":"function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {\n  var R = 6371; // Radius of the earth in km\n  var dLat = deg2rad(lat2-lat1);  // deg2rad below\n  var dLon = deg2rad(lon2-lon1); \n  var a = \n    Math.sin(dLat/2) * Math.sin(dLat/2) +\n    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * \n    Math.sin(dLon/2) * Math.sin(dLon/2)\n    ; \n  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \n  var d = R * c; // Distance in km\n  return d;\n}\n\nfunction deg2rad(deg) {\n  return deg * (Math.PI/180)\n}\nlat=global.get(\"latitude\");\nlon=global.get(\"longitude\");\nolat=global.get(\"oldlatitude\");\nolon=global.get(\"oldlongitude\");\n\n\ndistance =getDistanceFromLatLonInKm(olat,olon,lat,lon)\n//node.warn(speed)\nmsg.payload = distance.toFixed(2);\nmsg.distance = distance;\nglobal.set(\"distance\",distance);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":300,"wires":[["9b1e5e9d.8df56","a20ade86.e876b"]]},{"id":"9b1e5e9d.8df56","type":"ui_text","z":"ce1822f0.f9d5","group":"6f90525d.4253ac","order":4,"width":0,"height":0,"name":"","label":"Distance in Km( 10Sec)","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":300,"wires":[]},{"id":"7d9a6b1.3f5aa94","type":"ui_chart","z":"ce1822f0.f9d5","name":"","group":"6f90525d.4253ac","order":0,"width":0,"height":0,"label":"Longitude","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":767.2222222222222,"y":343.8888888888889,"wires":[[],[]]},{"id":"ce29633b.e3273","type":"ui_text","z":"ce1822f0.f9d5","group":"6f90525d.4253ac","order":4,"width":0,"height":0,"name":"","label":"Speed in Km/H","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":260,"wires":[]},{"id":"a20ade86.e876b","type":"function","z":"ce1822f0.f9d5","name":"Calulate SPEED","func":"// Home work! Calulate the speed in Km/H of the ISS\n// based on the distance \n//msg.distance = IIS traveld in 10 Sec\n\nmsg.payload = msg.distance*6*60\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":260,"wires":[["ce29633b.e3273"]]},{"id":"56893e9.77ce8c","type":"ui_group","z":"","name":"ISS Infos","tab":"9565c7ce.3159e8","order":2,"disp":true,"width":"6"},{"id":"423cf22a.5a473c","type":"ui_group","z":"","name":"ISS Area","tab":"52c79fd5.3912","order":1,"disp":true,"width":"12"},{"id":"6f90525d.4253ac","type":"ui_group","z":"","name":"ISS Infos","tab":"52c79fd5.3912","order":2,"disp":true,"width":"6"},{"id":"dbcfaabb.947dd8","type":"ui_group","z":"","name":"FromPI","tab":"52c79fd5.3912","order":3,"disp":true,"width":"6"},{"id":"9565c7ce.3159e8","type":"ui_tab","z":"","name":"ISS Area","icon":"dashboard"},{"id":"52c79fd5.3912","type":"ui_tab","z":"","name":"ISS Area","icon":"dashboard"}]
